In [13]:
#import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
#Load dataset(replace with your dataset)
data=pd.read_csv(r"C:\Users\ADMIN 2\Downloads\flipkart_data.csv")
print(data)

                                                 review  rating
0     It was nice produt. I like it's design a lot. ...       5
1     awesome sound....very pretty to see this nd th...       5
2     awesome sound quality. pros 7-8 hrs of battery...       4
3     I think it is such a good product not only as ...       5
4     awesome bass sound quality very good bettary l...       5
...                                                 ...     ...
9971                                      GoodREAD MORE       5
9972  Everything is amazimg but the built is very li...       5
9973                                      GoodREAD MORE       5
9974       Best headphone i have ever used....READ MORE       5
9975                                      NiceREAD MORE       5

[9976 rows x 2 columns]

In [15]:
data.isnull()

      review  rating
0      False   False
1      False   False
2      False   False
3      False   False
4      False   False
...      ...     ...
9971   False   False
9972   False   False
9973   False   False
9974   False   False
9975   False   False

[9976 rows x 2 columns]

In [17]:
X = cv.fit_transform(data['review'] ).toarray()

NameError: name 'cv' is not defined

In [19]:
X
y=data["rating"]
print(y)

NameError: name 'X' is not defined